.grp-head {
  width: 100%;
  height: 60vh;
  color: white;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  padding: 0 0 5% 5% !important;
}
.grp-head::before {
  content: " ";
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 60vh;
  filter: brightness(0.5);
  background-image: url("../media/cs-banner.png") !important;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover !important;

}
.grp-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 47px;
  z-index: 1;
}
.grp-info {
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  z-index: 1;
}
.grp-head-back-btn {
  display: none;
  font-size: larger;
  cursor: pointer;
  z-index: 1;
}