@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300;400;500;600;700&display=swap");

* {
  font-family: "IBM Plex Sans", sans-serif;
}
.color-primary {
  color: #0d6efd;
  font-weight: 500;
}
body {
  overflow-x: hidden;
}
#main {
  /* background-color: #e5e5e5; */
  padding: 20px 10%;
}
.main-nav {
  border-bottom: 1px solid #e0e0e0;
}
.nav {
  align-items: center;
}
.nav-link {
  color: #8a8a8a;
  cursor: pointer;
  font-size: 16px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0em;
}
.nav-link.active {
  color: black !important;
  /* background-color: #e5e5e5 !important; */
  background-color: white !important;
  border: none;
}
.nav-item-active {
  border-bottom: 1px solid black;
}
.nav-link:hover {
  color: inherit;
}
.nav-item-dd {
  display: none;
}
.btn {
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  border: none;
}
.location-info {
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
}
.location {
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  border-bottom: 0.4px solid rgba(184, 184, 184, 1);
  display: flex;
  justify-content: space-between;
}
@media all and (max-width: 900px) {
  .btn-grp-main-nav {
    position: absolute;
    top: 15vh;
    right: 3vw;
  }
  .btn-post {
    display: none;
  }
  .btn-join {
    background-color: transparent;
    border: 1px solid white;
  }
}

@media all and (max-width: 800px) {
  #search-bar {
    width: 20% !important;
  }
  .post-container-parent {
    width: 100%;
  }
  .side-main {
    display: none;
  }
}
@media all and (max-width: 650px) {
  #search-bar {
    display: none;
  }
  .modal-lg-only {
    display: none;
  }
}
@media all and (max-width: 600px) {
  #search-bar {
    display: none;
  }
  .nav-link {
    display: none;
  }
  .nav-link.active {
    display: inline-block;
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.01em;
  }
  .nav-item-dd {
    display: inline-block;
  }
  .main-nav {
    display: flex;
    justify-content: space-between;
    padding: 0 5%;
  }
}
.filter-dd {
  background-color: white;
  position: absolute;
  z-index: 66;
  border: 1px solid gray;
  width: 105px;
  padding: 0 !important;
}
.filter-dd li {
  list-style: none;
  text-align: center;
  cursor: pointer;
} 
.filter-dd li:hover {
  background-color: #e0e0e0;
} 

@media all and (max-width: 550px) {
  #navbar {
    display: none !important;
  }
  .grp-head-back-btn {
    display: inline-block !important;
    position: absolute;
    top: 3vh;
    left: 3vw;
  }
  .btn-grp-main-nav {
    top: 3vh;
    right: 3vw;
  }
  .grp-head {
    height: 35vh !important;
    padding: 25vh 0 0 10% !important;
  }
  .grp-title {
    font-size: 17px !important;
    line-height: 22px !important;
  }
  .grp-info {
    font-size: 12px !important;
    line-height: 16px !important;
  }
  #main {
    padding: 20px 0;
  }
  .cardImg {
    height: 20vh !important;
  }
  .cardType {
    font-size: 14px !important;
    line-height: 18px !important;
  }
  .cardTitle {
    font-size: 16px !important;
    line-height: 21px !important;
  }
  .cardContent {
    font-size: 14px !important;
    line-height: 18px !important;
  }
  .cardFooter,
  .author {
    font-size: 13px !important;
    line-height: 17px !important;
  }
  .modal {
    display: none;
  }
}